.podcastListView {
  min-height: 450px;

  .alert {
    max-width: 400px;
    margin: 25px auto;
  }

  .podcastList {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0px;
  }
}
