.footer {
  color: $light;
  padding: 15px;

  .footerContainer {
    @extend .wrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  a {
    color: $light;
    &:hover {
      color: $primary;
    }
  }
}
