.footer {
  color: $light;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  a {
    color: $light;
    &:hover {
      color: $primary;
    }
  }
}
