.header {
  position: sticky;
  top: 0;
  z-index: 2;
  color: $light;
  background-color: $dark;
  box-shadow: $soft_shadow;

  .headerWrapper {
    @extend .wrapper;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-family: "Comfortaa", cursive;
      color: $light;
      font-size: 24px;
      text-decoration: none;
      transition-duration: 350ms;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    svg {
      color: $primary;
    }
  }
}
