.wrapper {
  width: $max_sm_width;
  max-width: $xl;
  margin: 0 auto;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card {
  background-color: $light;
  color: $dark;
  padding: 15px;
  border-radius: $soft_rounded;
  box-shadow: $soft_shadow;
}
